body{  
background: #f7f6ed;
  
  
} 
/* basic calculator look */
.calbody{   
 padding: 10px;
 min-width: 27em;  
 max-width: 27em; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* screen on calculator */
#output{   
 text-align: right;  
 width: 320px;  
 height: 125px;  
 font-size: 50px;  
 background-color: #191B1D;
border: solid 1px grey;
color: white;
   
}  
/* operation buttons css below */ 
#multi{  
  background-color: #eee;
 width: 85px;  
 height: 87px;  
 border: 1px solid black;  
  position: absolute;
 top: 22%;
 left: 50.7%;
font-size: 20px;
} 

#plus{  
  background-color: #eee;
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 position: absolute;
 top: 22%;
 left: 4.7%;
font-size: 20px;
} 

#minus{  
  background-color: #eee;
 width: 85px;  
 height: 87px;  
 border: 1px solid black;  
 position: absolute;
 top: 22%;
 left: 27.85%;
font-size: 20px;
} 

#divi{  
  background-color: #eee;
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
position: absolute;
 top: 22%;
 left: 73.5%;
font-size: 20px;
} 

#AC{  
background-color: white;
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 position: absolute;
 top: 74.1%;
 left: 50.7%; 
font-size: 20px;
} 

#deci{  
  background-color: white;
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 position: absolute;
 top: 74.1%;
 left: 27.85%;
 font-size: 25px;
} 
/* Number Button css and position below */
#zero{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 74.1%;
 left: 4.7%;
 font-size: 20px;    
} 
#one{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 61.1%;
 left: 4.7%;
font-size: 20px;   
} 
#two{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 61.1%;
 left: 27.85%;
font-size: 20px;   
} 
#three{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 61.1%;
 left: 50.7%; 
font-size: 20px;
    
} 
#four{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
position: absolute;
 top: 48.1%;
 left: 4.7%;
 font-size: 20px;    
} 
#five{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
position: absolute;
 top: 48.1%;
 left: 27.85%;
font-size: 20px;
     
} 
#six{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
position: absolute;
 top: 48.1%;
 left: 50.7%; 
font-size: 20px;
     
} 
#seven{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
position: absolute;
 top: 35.1%;
 left: 4.7%;
 font-size: 20px;       
} 
#eight{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 35.1%;
 left: 27.85%;
 font-size: 20px;     
} 
#nine{  
  
 width: 85px;  
 height: 87px;  
 border: 1px solid black; 
 background-color: white;
 position: absolute;
 top: 35.1%;
 left: 50.7%;
font-size: 20px;
} 

/* logo picture on mystery button */
#logo{
    height: 60px;
    display: inline-block;
   
}
/* mystery button css and position layout */
#mystry{
    background-color: #eee;
     width: 85px;  
     height: 87px;
    position: absolute;
    border: 1px solid black; 
 top: 35.1%;
 left: 73.5%;
    
    
 
}
/* Flash stop button css and layout*/
#stopflash{
background-color: #eee;
 width: 85px;  
 height: 50px;  
 border: 1px solid black; 
 position: absolute;
 top: 90%;
 left: 4.7%;
font-size: 20px;
}

/* flash button css and position layout */
#flash{
 background-color: #eee;
 width: 85px;  
 height: 50px;  
 border: 1px solid black; 
 position: absolute;
 top: 90%;
 left: 33%;
font-size: 20px;
}

/* css for button allowing user to select picture from library to add onto mystery button */
#user_picture{
background-image: #eee;
 width: 85px;  
 height: 50px;   
 position: absolute;
 top: 90%;
 left: 60%;
font-size: 20px;
}

/* equal button css */
#equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);;
    width: 85px;  
 height: 262px;  
 border: 1px solid black;  
 position: absolute;
 top: 47.8%;
 left: 73.5%;
font-size: 20px;
}
